body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }

  /* Navigation Bar styles */
  .navbar {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 40px;
  }
  
  .placeholders {
    display: flex;
    gap: 15px;
    margin-right: 40px;
  }
  /* ----------------------------- */

  /* Modal Background */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: flex;
  }
  
  .modal-content {
    position: relative;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    width: 80%;
    max-width: 1050px;
    text-align: center;
    height: 80vh;
    max-height: 90vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .browser-style-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.2s;
  }
  
  .browser-style-close-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .browser-style-close-button svg {
    fill: #5f6368;
  }

  /* Landing page styles */
  .beginButton {
    background-color: #538373;
    color: white;
    font-weight: 600;
    border-radius: 25px;
    padding: 10px 20px;
    width: 50px;
    text-decoration: none;
    margin-left: 40px;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .beginButton:hover {
    background-color: #2A695C;
    transform: scale(1.05);
  }
  
  .landing-page {
    background-color: #e6e8dd;
    height: calc(100vh - 50px);
    display: flex;
  }

  .landing-page .content {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .landing-page h1 {
    color: black;
    letter-spacing: 0.1px;
    font-weight: bold;
    font-size: 60px;
    line-height: 1.2;
    margin-left: 40px;
  }
  
  .landing-page p {
    color: black;
    letter-spacing: 0.1px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 50px;
    margin-left: 40px;
  }

  .image-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .landing-image {
    max-width: 70%;
    height: auto;
    object-fit: contain;
  }
  /* ----------------------------- */

  /* Restrictions page styles */
  .nextButton {
    background-color: #538373;
    color: white;
    font-weight: 600;
    border-radius: 25px;
    padding: 10px 20px;
    width: 42px;
    margin-left: 40px;
    margin-top: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .nextButton:hover {
    background-color: #2A695C;
    transform: scale(1.05);
  }

  .restrictions-page .content {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* ----------------------------- */

  /* Filters page styles */
  .reset-button,
  .showAvailableButton {
    background-color: #538373;
    color: white;
    font-weight: 600;
    border-radius: 25px;
    padding: 10px 20px;
    width: 206px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
    cursor: pointer;
    font-size: 14px; /* Adjust as needed */
  }
  
  .reset-button:hover,
  .showAvailableButton:hover {
    background-color: #2A695C;
    transform: scale(1.05);
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
    width: 100%;
  }

  .filters-page {
    min-height: 30vh;
    max-height: 100vh;
  }

  .filters-page .content {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .filters-page h1 {
    color: black;
    letter-spacing: 0.1px;
    font-weight: bold;
    font-size: 50px;
    line-height: 1.2;
    margin: 20px 0;
  }
  
  .slider-container {
    width: 100%;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .slider-wrapper {
    margin-bottom: 20px;
    width: 150%;
    max-width: 1000px;
  }
  
  
  .slider-wrapper h4 {
    margin-top: 0;
    margin-bottom: 1px;
  }
  
  .slider {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    background: linear-gradient(to right, #538373 0%, #d3d3d3 0%);
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #538373;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #ffffff;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #538373;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #ffffff;
  }
  
  .slider-value {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }


  .filters-page .noUi-target {
    background: #d3d3d3;
  }
  
  .filters-page .noUi-connect {
    background: #538373;
  }
  
  .filters-page .noUi-handle {
    background: #538373;
    border: 2px solid #ffffff;
  }


  .browser-style-back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.2s;
  }

  .browser-style-back-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .browser-style-back-button svg {
    fill: #5f6368;
  }
  /* ----------------------------- */
