body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }

  /* Navigation Bar styles */
  .navbar {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 40px;
  }
  
  .placeholders {
    display: flex;
    gap: 15px;
    margin-right: 40px;
  }
  /* ----------------------------- */

  /* Modal Background */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: flex;
  }
  
  .modal-content {
    position: relative;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    width: 80%;
    max-width: 1050px;
    text-align: center;
    height: 80vh;
    max-height: 90vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .browser-style-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.2s;
  }
  
  .browser-style-close-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .browser-style-close-button svg {
    fill: #5f6368;
  }

  /* Landing page styles */
  .beginButton {
    background-color: #538373;
    color: white;
    font-weight: 600;
    border-radius: 25px;
    padding: 10px 20px;
    width: 50px;
    text-decoration: none;
    margin-left: 40px;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .beginButton:hover {
    background-color: #2A695C;
    transform: scale(1.05);
  }
  
  .landing-page {
    background-color: #e6e8dd;
    height: calc(100vh - 50px);
    display: flex;
  }

  .landing-page .content {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .landing-page h1 {
    color: black;
    letter-spacing: 0.1px;
    font-weight: bold;
    font-size: 60px;
    line-height: 1.2;
    margin-left: 40px;
  }
  
  .landing-page p {
    color: black;
    letter-spacing: 0.1px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 50px;
    margin-left: 40px;
  }

  .image-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .landing-image {
    max-width: 70%;
    height: auto;
    object-fit: contain;
  }
  /* ----------------------------- */

  /* Restrictions page styles */
  .nextButton {
    background-color: #538373;
    color: white;
    font-weight: 600;
    border-radius: 25px;
    padding: 10px 20px;
    width: 42px;
    margin-left: 40px;
    margin-top: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .nextButton:hover {
    background-color: #2A695C;
    transform: scale(1.05);
  }

  .restrictions-page .content {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* ----------------------------- */

  /* Filters page styles */
  .reset-button,
  .showAvailableButton {
    background-color: #538373;
    color: white;
    font-weight: 600;
    border-radius: 25px;
    padding: 10px 20px;
    width: 206px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
    cursor: pointer;
    font-size: 14px; /* Adjust as needed */
  }
  
  .reset-button:hover,
  .showAvailableButton:hover {
    background-color: #2A695C;
    transform: scale(1.05);
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
    width: 100%;
  }

  .filters-page {
    min-height: 30vh;
    max-height: 100vh;
  }

  .filters-page .content {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .filters-page h1 {
    color: black;
    letter-spacing: 0.1px;
    font-weight: bold;
    font-size: 50px;
    line-height: 1.2;
    margin: 20px 0;
  }
  
  .slider-container {
    width: 100%;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .slider-wrapper {
    margin-bottom: 20px;
    width: 150%;
    max-width: 1000px;
  }
  
  
  .slider-wrapper h4 {
    margin-top: 0;
    margin-bottom: 1px;
  }
  
  .slider {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    background: linear-gradient(to right, #538373 0%, #d3d3d3 0%);
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #538373;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #ffffff;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #538373;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #ffffff;
  }
  
  .slider-value {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }


  .filters-page .noUi-target {
    background: #d3d3d3;
  }
  
  .filters-page .noUi-connect {
    background: #538373;
  }
  
  .filters-page .noUi-handle {
    background: #538373;
    border: 2px solid #ffffff;
  }


  .browser-style-back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.2s;
  }

  .browser-style-back-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .browser-style-back-button svg {
    fill: #5f6368;
  }
  /* ----------------------------- */

  /* menu page styles */
  .menu-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    height: 600px;
    overflow: hidden;
    perspective: 1200px;
    transition: transform 0.5s ease;
  }
  
  .slider-arrow {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
  }

  .left-arrow {
    left: 0;
  }

  .right-arrow {
    right: 0;
  }

  .landing-page.menu-page {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .landing-page.menu-page h2 {
    margin-bottom: 20px;
  }

  .menus-list {
    display: flex;
    overflow: hidden;
    flex: 1;
    transition: transform 0.5s ease;
  }

  .menu-item {
    flex-shrink: 0;
    flex: 0 0 25%;
    box-sizing: border-box;
    width: 25%;
    height: auto;
    margin: 100px 50px;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
  }

  .menu-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 100%; 
    height: 100%; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .menu-item:hover .menu-card {
    transform: scale(1.1) rotateY(10deg) rotateX(5deg);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
  }
  
  .menu-item:not(:hover) .menu-card {
    transform: scale(1) rotateY(0deg) rotateX(0deg);
  }

  .menu-item:nth-child(2) .menu-card {
    z-index: 2;
  }

  .menu-image img {
    width: 50%;
    height: auto;
    display: block;
  }

  .menu-info {
    padding: 20px;
    text-align: center;
  }

  .menu-rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .menu-rating .star {
    color: gold;
    margin-right: 5px;
  }

  .menu-info h3 {
    font-size: 18px;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .menu-info p {
    font-size: 16px;
    color: #888;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .menu-info button {
    padding: 10px 20px;
    border: 2px solid #4caf50;
    border-radius: 5px;
    background-color: white;
    color: #4caf50;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .menu-info button:hover {
    background-color: #4caf50;
    color: white;
  }
  /* ----------------------------- */

  /* cart styles */
  .quantity-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  
  .quantity-selector button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .quantity-selector .quantity {
    margin: 0 10px;
    font-size: 16px;
  }
  
  .add-to-cart {
    padding: 10px 20px;
    border: 2px solid #4caf50;
    border-radius: 5px;
    background-color: white;
    color: #4caf50;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .add-to-cart:hover {
    background-color: #4caf50;
    color: white;
  }

  .cart-icon {
    margin-left: 10px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.2em;
  }
  
  .cart-drawer {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 95vh;
    background: #ffffff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 40px 20px 20px 20px; /* Increased padding-top to make room for the close button */
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  .cart-drawer:not(.hidden) {
    transform: translateX(0);
  }
  
  .cart-drawer.hidden {
    transform: translateX(100%);
  }
  
  .cart-drawer h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .cart-drawer .cart-item {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
  }

  .cart-drawer .cart-item:first-child {
    margin-top: 40px;
  }

  .cart-item span {
    font-size: 1rem;
  }
  
  .cart-drawer .subtotal {
    margin-top: 10px;
    padding-top: 1rem;
    border-top: 2px solid #ddd;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
    display: block;
  }
  
  .overlay.hidden {
    display: none;
  }

  .cart-close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.2s;
  }
  
  .cart-close-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .cart-close-button svg {
    fill: #5f6368;
  }

  .cart-close-button-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 200px; 
  }
  
  .cart-close-button {
    position: relative;
    top: 0;
    left: 0;
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.2s;
  }
  
  .cart-close-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .cart-close-button svg {
    fill: #5f6368;
  }
  
  .clear-cart-button {
    background-color: #f44336;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    height: 40px;
    width: 130px;
  }
  
  .clear-cart-button:hover {
    background-color: #d32f2f;
  }
  
  .clear-cart-button:active {
    background-color: #b71c1c; /
  }
  
  /* ----------------------------- */

  /*Checkout page styles*/

  .checkoutButton {
    background-color: #538373;
    color: white;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;  
    border-radius: 25px;
    padding: 10px 20px;
    width: 60%;
    height: 40px;
    text-decoration: none;
    margin-left: 40px;
    margin-top: 20px;
    position: absolute; 
    bottom: 10%;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .checkoutButton:hover {
    background-color: #2A695C;
    transform: scale(1.05);
  }

  .checkoutContainer {
    display: flex;
  }

  .checkoutItems {
    position: relative;
    width: 20%;
    height: 95vh;
    background: #ffffff;
    margin: 0 auto;
    margin-right: 20%;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    
  }

  .checkoutItems .cart-item {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
  }

  .checkoutItems .cart-item:first-child {
    margin-top: 40px;
  }

  .checkoutItems span {
    font-size: 1rem;
  }

  .checkoutItems .subtotal {
    margin-top: 10px;
    padding-top: 1rem;
    border-top: 2px solid #ddd;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .checkoutPageButton {
    background-color: #538373;
    color: white;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    line-height: 40px;  
    border-radius: 25px;
    padding: 10px 20px;
    width: 60%;
    height: 40px;
    margin: 0 auto;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .checkoutPageButton:hover {
    background-color: #2A695C;
    transform: scale(1.05);
  }

  .info {
    display: inline-flex;
    width: 100%;
  }
  .row {
    display: table;
    margin-left: -16px;
    width: 100%;
  }
  
  .col-50 {
    float: left;
    width: 20%;
    margin: 0 auto;
    padding: 0 16px;
  }

  .leftCol {
    margin-left: 20%;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
